/* Variables */
:root {
    --main-color: #3f5746;
	--secondary-color: #fff996;
	--dark-color:#3c5443;
	--theme-color:#fff;
	--theme-reverse-color:#000;
}

/* Color Holder
    --main-color: #3f5746;
	--secondary-color: #fff996;
*/

/* All */
a {
	text-decoration: none;
}

a:link {
  color: var(--secondary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover {
  color: var(--theme-color);
}

.ratio1 {
	width: 100%;
	padding-top: 45%;
	position: relative;
}

.ratio2 {
	width: 45%;
	padding-top: 30%;
	position: relative;
	margin: 2.5%;
	float: left;
	margin-bottom: 0;
}

.pageSplit {
	width: 48%;
	position: relative;
	float: left;
	margin: 1%;
}

.splitCrop {
	max-width: 100%;
}

.ratioContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.imgContainer {
	position: relative;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
	height: 100%;
	float: none;
}

.imgCrop {
	float: none;
	object-fit: cover;
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
}

.textCenteredOverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Body */

body {
	min-width: 1080px;
	margin: auto;
}

.pageBody {
	width: 90%;
	margin: auto;
}

html {
	background-color: var(--theme-color);
}

/* Nav */
#loginStatus {
	width: 100%;
}

#loginStatus p {
	margin: 0;
	padding: 0;
	line-height: 10px;
	text-align: right;
	padding-right: 5%;
	padding-top: 10px;
}


.arrow {
	line-height: 650px;
	position: absolute;
	text-align: center;
	list-style: none;
	height: 100%;
	width: 5%;
}

.arrow:hover {
	background-color: #FF0000;
	color: white;
}

#leftArrow {
	background: linear-gradient(90deg, rgba(0,0,0,.4), rgba(0,0,0,.01));
	left: 0px;
}

#rightArrow {
	background: linear-gradient(-90deg, rgba(0,0, 0,.4), rgba(0,0,0,.01));
	right: 0px;
}

.locations {
	margin: 15px 10%;
}

.orders {
	background-color: var(--main-color);
	margin: 15px 10%;
}

.bar {
	height: 75px;
	width: 100%;
}

#topBar {
	position: relative;
}

#topBar li {
	width: 12%;
	float: right;
	margin-right: 5%;
	border-radius: 7px;
	background: linear-gradient(-180deg, var(--main-color) 5%, rgba(80,115, 80,.99) 25%, var(--main-color) 50%, rgba(40,80,40,.99));
}

#login li {
	background: none;
	border: none;
	margin-right: 0%;
}

#topBar li:hover {
	background: linear-gradient(-180deg, var(--main-color) 5%, rgba(100,145, 100,.99) 25%, var(--main-color) 50%, rgba(50,90,50,.99));
	background-color: var(--theme-reverse-color);
	color: white;
}

#name {
	width: 150px;
}

#botBar {
	background-color: var(--main-color);
}

#botBar ul {
	margin: 0 0 0 15%;
}

#botBar li {
	width: 10%;
}

#icon {
	position: relative;
	top: 20px;
}

#name {
	position: relative;
	bottom: 30px;
}

ul {
	display: in-line;
	white-space: nowrap;
	margin: 0 0 0 0;
}

li {
	font-size: 20px;
	text-align: center;
	list-style: none;
	float: left;
	display: in-line;
	height: 45px;
	line-height: 45px;
	margin: 15px 1%;
	min-width: auto;
	color: var(--secondary-color);
	font-family: Arial, sans-serif;
}

li:hover {
  color: var(--secondary-color);
}

/* Home */
.imageContainerMenu {
	position: relative;
	object-fit: cover;
	overflow: hidden;
	width: 50%;
	height: 45%;
	background-color: var(--theme-color);
	float: left;
	color: rgba(255, 255, 255, 0.8);
	font-size: 5vw;
	font-family: Arial, sans-serif;
}



.pageFill {
	height: 75px;
	background-color: var(--main-color);
}

/* Menu */
.menuTopLevel {
	height: 50%;
	width: 50%;
	font-family: Arial, sans-serif;
}

#menuLink a:link,
#menuLink a:visited {
	font-size: 2vw;
	color: rgba(255, 255, 255, 0.8);
}

#viewFullMenu {
	position: relative;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
	height: 10%;
	float: left;
	background-color: var(--theme-reverse-color);
	font-family: Arial, sans-serif;
}

#viewFullMenuText {
	font-size: 2vw;
	color: rgba(255, 255, 255, 0.8);
}

/* Gallery */

.imageTextContainer {
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: var(--main-color);
	bottom: 0;
}

#galleryImageTitle {
	font-size: 20px;
	color: var(--secondary-color);
}

/* Catering */
#cateringTextBox {
	text-align: center;
	font-size: 50px;
	font-family: Arial, sans-serif;
	border-radius: 7px;
	color: var(--main-color);
	border-color: var(--main-color);
	border-style: solid;
}

.cateringOrderButton {
	border-radius: 25px;
	position: relative;
	float: left;
	margin: 5%;
	width: 40%;
	height: 50px;
	background-color: var(--main-color);
	color: var(--secondary-color);
	background: linear-gradient(-180deg, var(--main-color) 5%, rgba(80,115, 80,.99) 25%, var(--main-color) 50%, rgba(40,80,40,.99));
}

.cateringOrderButton:hover {
	background: linear-gradient(-180deg, var(--main-color) 5%, rgba(100,145, 100,.99) 25%, var(--main-color) 50%, rgba(50,90,50,.99));
	background-color: var(--theme-reverse-color);
	color: white;
}

#cateringButtonText {
	font-size: 20px;
}

#cateringParagraph {
	font-size: 20px;
}

/* Daily Deal */
.topSpacer {
	height: 10px;
	width: 100%;
}

.dailyDealContainer {
	float: left;
	margin: 1%;
	width: 47%;
	height: 500px;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
	background-color: white;
	border: solid 1px var(--main-color);
}

.dailyDealTitle {
	position: relative;
	font-size: 50px;
	font-family: Garamond;
	width: 100%;
	height: 25%;
	background-color: var(--main-color);
	color: var(--secondary-color);
}

#dailyDealItem {
	background-color: white;
	color: var(--main-color);
	font-size: 30px;
}

.dailyDealDesc {
	position: relative;
	width: 100%;
	height: 75%;
	color: var(--main-color);
	font-size: 20px;
	font-family: Times New Roman, serif;
}

.dailyDealBackground {
	max-width: 100%;
	display: inline-block;
}

/* Reviews */
.commentContainer {
	position: relative;
	float: left;
	margin: 1% auto;
	padding: 5px;
	width: 65%;
	height: 150px;
	border-radius: 15px;
	background-color: var(--main-color);
}

#commentContainerLoginStatus {
	height: 40px;
	border-radius: 15px;
	border: 1px var(--main-color) solid;
	background-color: white;
	color: var(--main-color);
}

#commentContainerTerms {
	height: auto;
	border-radius: 15px;
	border: 1px var(--main-color) solid;
	background-color: white;
	color: var(--main-color);
}


.commentFlex label {
	color: var(--secondary-color);
}

#leaveCommentContainer {
	height: 200px;
}

#leaveCommentBar {
	padding: 0 3% 0 3%;
}

.commentFlex {
	float: left;
	margin: 15px 0;
}

#commentSubmit {
	float: right;
}

#score, #scoreLabel {
	float: right;
}

#score {
	margin-right: 50px;
	margin-left: 15px;
}

#displayName {
	margin-right: 10px;
}

#leaveCommentBox {
	height: 80%;
	width: 100%;
}

.commentPhoto {
	position: relative;
	height: 25%;
	color: var(--secondary-color);
}

.commentPhoto ul {
}

.commentPhoto li {
	font-size: 15px;
	text-align: center;
	list-style: none;
	float: left;
	display: in-line;
	height: 5px;
	line-height: 10px;
	min-width: auto;
	color: var(--theme-color);
	color: var(--secondary-color);
	font-family: Arial, sans-serif;
	width: 30%;
}

.commentText {
	height: 75%;
	width: 95%;
	margin: auto;
	display: block;
	color: var(--secondary-color);
	color: #f3f3f3;
	overflow: auto;
}

#leaveComment {
	height: 90%;
	width: 99%;
	border-radius: 5px;
}

#reviewSubmit {
	
}

#reviewDate {
	text-align: left;

}

#reviewName {
	text-align: center;
}

#reviewScore {
	text-align: right;
}

/* Login */
.input_box {
	padding: 8px;
	width: 200px;
	margin: auto;
	display: block;
	margin-bottom: 5px;
	border-radius: 7px;
	border: solid 1px var(--main-color);
}

label {
	font-family: Arial, sans-serif;
	margin: auto;
	display: block;
	text-align: center;
	color: black;
}

input {
	background-color: white;
	margin: auto;
	padding: 5px;
	display: block;
	border: none;
	border-bottom: 1px solid var(--main-color);
}

input textarea:focus{
	outline: none;
	background-color: white;
}

#center_text {
	font-family: Arial, sans-serif;
	display: block;
	margin: auto;
	text-align: center;
}

#submit {
	width: 100%;
	background-color: var(--main-color);
	color: var(--secondary-color);
	border-radius: 2px;
}

#submit_div {
	background-color: var(--main-color);
}

#create_account {
	font-family: Arial, sans-serif;
	padding: 5px;
	margin: auto;
	display: block;
	text-align: center;
	color: var(--secondary-color);
}

/* Order */
.orderContainer {
	float: left;
	width: 100%;
}

.menuDivContainer {
	margin: 1% 1% 0% 4%;
	width: 60%;
	float: left;
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 10px;
	min-height: 800px;
}

.cartDiv {
	margin: 1%;
	float: left;
	width: 25%;
	height: 500px;
	border-radius: 10px;
	padding: 10px;
	background-color: var(--main-color);
	color: var(--secondary-color);
	font-size: 1.5vw;
	
	position: fixed;
	float: right;
	top: 50%;
	right: 5%;
	transform: translate(-5%, -50%);
}

.menuDiv {
	display: flex;
	margin-top: 5px;
	font-size: 20px;
	border-radius: 7px;
	background-color: #fafafa;
	color: var(--main-color);
	position: relative;
	max-height: 125px;
}

.menuTextCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuNumber {
	flex: .5;
	padding: 5px;
	text-align: center;
	position: relative;
}

#menuName {
	flex: 6;
	padding: 5px;
	text-align: center;
}

#menuDesc {
	font-size: 15px;
	flex: 10;
	padding: 5px;
	overflow: auto;
}

#menuPrice {
	border-right: 1px dotted #ddd;
	border-left: 1px dotted #ddd;
	flex: 1;
	padding: 5px;
	position: relative;
}

#menuAddToCart {
	flex: 3;
	padding: 5px;
	display: flex;
}

.menuAddToCartButton {
	flex: 1;
	margin: auto 2px;
	color: var(--secondary-color);
	text-align: center;
	border-radius: 2px;
	background-color: var(--main-color);
	position: relative;
	height: 30px;
}

#menuAddToCartNumber {
	background-color: transparent;
	color: var(--main-color);
}

/* Locations */
.locationContainer {
	float: left;
	margin: 1%;
	width: 15%;
	padding: 10px;
	border: 1px solid var(--main-color);
	border-radius: 7px;
}

/* Footer */
footer {
	width: 100%;
	margin: 45px 0;
	height: 45px;
	background-color: var(--main-color);
	position: relative;
	float: left;
}

.footerItem {
	width: 20%;
	height: 100%;
	float: left;
	margin: 0 15%;
}

#footerText {
	position: relative;
	font-size: 15px;
	color: var(--secondary-color);
	top: 35%;
	text-align: center;
}

.printError {
	margin: 25px auto;
	width: 250px;
	height: 50px;
	text-align: center;
	border-radius: 10px;
	border: solid rgb(255, 0, 0) 1px;
	color: rgb(255, 0, 0);
}

/* Form jquery */
form {
  padding: 20px;
  background: #2c3e50;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}

form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form button {
  height: 30px;
  line-height: 30px;
  background: #e67e22;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

form .error {
  color: #ff0000;
}
